.content
    width: 100vw
    min-height: 70vh 
    background-color: #fff
    border-radius: 1rem
    padding: 1rem
    overflow: hidden
    header
        @media (min-width: 768px)
            margin-top: -2rem

.info, .form
    width: 100%
    flex-basis: 1
.info
    background-color: #1976D2
    border-radius: 1rem
    height: 48rem
    max-width: fit-content
    min-width: fit-content
    color: #fff
    @media (max-width: 768px)
        width: 90vw !important
    p
        color: #ccc
    li
        font-size: 2rem
    h4
        font-size: 3rem
    .list 
        text-align: left
        >li
            padding: 1rem
            margin: 1rem
            display: flex
            justify-content: left
            align-items: center
    svg
        scale: 2
        margin-right: 2rem
    
.form
    padding: 3rem 3rem 0 3rem
    .row
        width: 100%
        margin-bottom: 2rem
        font-size: 2rem
        label
            font-size: 2rem
        input,textarea
            font-size: 2rem
            line-height: 2rem
            padding-top: 1rem
