@use './variables.sass'

.dl
    @media (max-width:variables.$breakpoint-lg) 
        position: relative
    @media (max-width:variables.$breakpoint-md) 
        position: fixed
        right: 2rem
        bottom: 2rem
        z-index: variables.$z-fab
        border-radius: 50%
        box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1)
        font-size: 1.5rem
    button
        outline: none
        border: none
        background-color: transparent
        cursor: pointer

.navbar
    padding: 1rem 5rem!important
    z-index: variables.$z-nav
    background-color: variables.$background-color
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1)
    @media (max-width:variables.$breakpoint-md)
        padding: 2.6rem 2rem!important


.nav-item
    padding: 2.2rem 3rem
    display: inline-block
    font-size: 1.6rem
    color: #333
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 700
    transition: color .3s

.navbar
    #navbarText
        margin-right: 1rem
    #navbar-logo
        @media (max-width:variables.$breakpoint-md)
            transform: scale(.8)
            position: relative
            top: -1.6rem
            left: -6rem



#logo
    padding-top: 2rem
    padding-right: 2rem
    position: absolute
    top: -0.5rem
    left: 9rem
    @media (max-width:variables.$breakpoint-md)
        position: absolute
        top: -0.6rem
        padding-right: 3rem
        padding-top: 3rem


.nav-item a
    padding: 0
    &:hover
        color: variables.$primary-color !important
.navbar-toggler
    position: absolute
    top: 1.5rem
    right: 2rem
    @media (max-width:variables.$breakpoint-md)
        position: absolute
        top: 3.8rem
        right: 2rem