@import './variables.sass'
    
$primary-color: #1248c6 

.dl    
    @media (max-width:$breakpoint-lg) 
        position: relative
    @media (max-width:$breakpoint-md) 
        position: fixed
        right: 2rem
        bottom: 2rem
        z-index: 1000
        border-radius: 50%
        box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1)
        font-size: 1.5rem
    button
        outline: none
        border: none
        background-color: transparent
        cursor: pointer

.navbar
    padding: 1rem 5rem!important
    z-index: 1000
    background-color: $background-color 
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1)


.nav-item
    padding: 2.2rem 3rem
    display: inline-blockho
    font-size: 1.6rem
    color: #333
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: 700
    transition: color .3s

.navbar 
    #navbarText
        margin-right: 1rem
    #navbar-logo
        @media (max-width:$breakpoint-md)
            transform: scale(.8)
            position: relative
            top: -2rem
            left: -6rem



#logo
    padding-top: 2rem
    padding-right: 2rem
    position: absolute
    top: -0.5rem
    left: 9rem
    @media (max-width:$breakpoint-md) 
        position: absolute
        position: absolute
        top: -1.5rem
        padding-right: 3rem
        padding-top: 3rem
    

.nav-item a
    padding: 0
    &:hover
        color: $primary-color !important
button .navbar-toggler
    position: absolute
    top: 1.5rem
    right: 2rem
    @media (max-width:$breakpoint-md)
        position: absolute
        top: 1rem
        right: 2rem