.swiper-container
    height: 600px
    .swiper-slide
        display: flex
        align-items: center
        justify-content: center
        flex-direction: columns
        img
            width: 800px
            height: 400px