.swiper-container
    height: 500px
    .swiper
        background-color: #ccc 
        display: flex
        justify-content: center
        align-items: center
        font-size: 5rem
        height: 600px